@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body{
  
    background: hsla(58, 77%, 50%, 1);
  
    background: linear-gradient(90deg, hsla(58, 77%, 50%, 1) 0%, hsla(281, 95%, 52%, 1) 100%);  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
  }
  button{
    background-color:#e21c43;
    outline: none;
    border-radius: 30px;
    border: none;
  }
  button:hover{
    color: black;
    background-color:#441cdf;
    cursor: pointer;
  } 

  .appbar_container{
    display: flex;
    justify-content: center;
  }